<form>
  <div class="container">
      <div class="row" *ngIf = "login; else falso">
    <div class="col-md-4" style=" margin: 0 auto;" >
      <div class="form-group" >
        <label for="exampleInputEmail1" style="color:white">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="exemplo@exemplo.com">
        <small id="emailHelp" class="form-text text-muted"></small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1" style="color:white">Senha</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
      </div>
      
          <a href="#" style="color:white" >Esqueci a senha</a>
      <br><br>
      <button type="submit" (click)="Login()" class="btn btn-light">Entrar</button>
    </div>
  </div>
</form>

<ng-template #falso>
  <p>Bem vindo</p>
</ng-template>